$unslider-dot-navigation: true;
$unslider-dot-colour: #000;
@import "../../node_modules/unslider/src/scss/unslider";

.#{$unslider-namespace}-nav, %#{$unslider-namespace}-nav {
  position: absolute;
  top: 0;
  height: $unit-large;
  width: 100%;
  ol {
    li {
      width: 100px;
      height: 50px;
      border-radius: 0;
    }
  }
}

.#{$unslider-namespace}, %#{$unslider-namespace} {
  position: relative;
  &-arrow {
    top: 50%;
  }
}

.c-slider {
  margin-top: $unit-large;
}

.c-slider__copy {
  text-align: left;
  ul, ol, li {
    list-style: disc;
  }
}

.c-slider__item {
  padding: 0 $unit-large;
}
