/* ==========================================================================
   #LINKS
   ========================================================================== */

a {
  text-decoration: none;
  color: $color-links-prose;
  &:hover,
  &:active,
  &:focus {
    color: $color-links-prose-hover;
    // text-decoration: underline;
  }
}
