///* ========================================================================
//   #TYPE
//   ======================================================================== */

// Typographical base selectors.

/**
 * Headings 1–6.
 */
@include headings() {
    @include font-weight(normal);
    color: $color-heading;
}

// Highlighted text.
b {
  color: $color-highlight;
  @include font-weight(normal);
}

// Strong text.
strong {
  color: $color-strong;
  @include font-weight(bold);
}
